<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="/assets/js/vue.min.js"></script>
<script src="/assets/js/lodash.min.js"></script>
<!-- <script> Vue.config.devtools = true </script> -->

<title>Friday lunch</title>
<style type="text/css">
    [v-cloak] { display: none; }
    .m-20 { margin-top: 20px; }
</style>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Friday lunch</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/history">History</a></li>
            </ul>
        </div>
      </div>
    </nav>
	<div class="container" id="app" v-cloak>
		<div class="row">
			<div class="col-md-6" v-for="type in types">
				<div class="row">
					<form class="form-inline col-md-12">
					  	<div class="form-group">
					    	<input type="text" class="form-control" :placeholder="upperFirst(singular(type))" v-model="input[singular(type)]">
					  	</div>
					  	<button type="button" class="btn btn-default" @click="add(type)">Add</button>
					</form>
				</div>
                <div class="row m-20">
                    <div class="col-md-8">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="name in getDataSet(type)">
                                <button type="button" class="close" @click="remove(name, type)"><span aria-hidden="true">&times;</span></button>
                                {{ name }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 v-if="selected[singular(type)]">{{ selected[singular(type)] }}</h1>
                    </div>
                </div>
                <div class="row m-20">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" @click="random(type)">Select random</button>
                    </div>
                </div>
			</div>
		</div>
	</div>
</body>
<script>
	new Vue({
	    el: '#app',
	    data: function () {
            return {
            	name: null,
                names: [ 'Kirsti', 'Nico', 'Grace', 'Gina', 'Deepak', 'Ian C', 'Sean', 'Tony', 'Jimmy', 'Steve', 'Wade', 'Ian P', 'Yuna'],
                restaurant: null,
                restaurants: [ 'Pearl Garden', 'Srimahkota', 'Momo tea', 'Safran', 'Ichiban', 'The Chef (Indian)', 'Tasca' ],
                selected: {
                    name: null,
                    restaurant: null,
                },
                input : {
                    name: null,
                    restaurant: null,
                },
                types: ['names', 'restaurants'],
            }
        },
        methods: {
            add: function (type) {
                if (this.input[this.singular(type)]) {
                	this[type] = _.concat(this[type], this.input[this.singular(type)]);
                    this.input[this.singular(type)] = null;
                }
            },
            remove: function (ele, type) {
                this[type] = _.remove(this[type], function(n) {
                    return n != ele;
                });
            },
            random: function (type) {
                this.selected[this.singular(type)] = _.sample(this[type]);
            },
            singular: function (value) {
                return _.trimEnd(value, 's');
            },
            upperFirst: function (value) {
                return _.upperFirst(value);
            },
            getDataSet: function (type) {
                return this[type];
            },
        },
	});
</script>
</html>